---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={`${post.data.title} | CK-TOM`}>
    <article class="py-16 md:py-20 prose prose-neutral max-w-none">
        <header class="mb-12 not-prose">
            <div
                class="flex items-center gap-3 text-sm text-neutral-500 font-mono mb-4"
            >
                <time datetime={post.data.pubDate.toISOString()}>
                    {
                        post.data.pubDate.toLocaleDateString("en-us", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        })
                    }
                </time>
                {
                    post.data.tags && post.data.tags.length > 0 && (
                        <>
                            <span>/</span>
                            <div class="flex gap-2">
                                {post.data.tags.map((tag) => (
                                    <span>#{tag}</span>
                                ))}
                            </div>
                        </>
                    )
                }
            </div>

            <h1
                class="text-4xl md:text-5xl font-bold tracking-tight text-neutral-900 mb-6"
            >
                {post.data.title}
            </h1>

            <p class="text-xl text-neutral-600 leading-relaxed">
                {post.data.description}
            </p>
        </header>

        <div
            class="prose-pre:rounded-lg prose-pre:bg-neutral-900 prose-pre:text-neutral-50"
        >
            <Content />
        </div>
    </article>
</Layout>
